/* App.css */
.navigation-bar {
  position: absolute; /* Position the navigation bar absolutely relative to its positioned parent */
  top: 38%; /* Start at the vertical middle of the screen */
  left: 50%; /* Start at the horizontal middle of the screen */
  transform: translate(-50%, -50%); /* Adjusts the positioning to be centered both vertically and horizontally */
  width: fit-content; /* Adjust the width of the container to its content */
}

.navigation-bar ul {
  padding: 0;
  margin-top: 0px; /* Add space between the welcome message and the nav bar */
  display: inline-block; /* Align the list items horizontally */
}

.navigation-bar li {
  display: inline; /* Display list items in a line */
  margin-right: 30px; /* Add space between the buttons */
}

/* Set the link color to black */
.navigation-bar a {
  color: #000; /* This is black */
}


.loginButtons a {
  color: #FFFFFF; 
  background-color: #007bff; 
  padding: 10px 30px; 
  text-decoration: none; 
  border-radius: 4px; 
  display: inline-block;
  margin: -10px; 
  transition: background-color 0.3s ease;
}

/* Hover effect for buttons */
.loginButtons a:hover {
  background-color: #0056b3; /* A darker blue on hover */
  text-decoration: none; /* Ensure the underline doesn't re-appear on hover */
  color: #FFFFFF; /* Text color can remain white */
}

